body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "Helvetica", "sans-serif";
    font-size: 20px;
}


#website {
    width: 100%;
    margin: auto;
    height: auto;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}


@media (max-width: 2560px) {
    #website {
        width: 1920px;
    }
}


@media (max-width: 1920px) {
    #website {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    #website {
        width: 768px;
    }
}

@media (max-width: 768px) {
    #website {
        width: 100%;
    }
}




