body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", "Helvetica", "sans-serif";
    font-size: 20px;
    background-image: url("../images/background/table-on-wooden-plank-326279.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #4D2F25;
}

h3{
    padding: 0;
    margin: 0;
}

h5{
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    margin: 10px auto 10px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main{
    width: 100%;
    margin: 10px 25% 10px auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

}

#website {
    width: 100%;
    margin: auto;
    height: auto;
}

.button{
    background-color: #2C997C;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    background-color: #99695A;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}


@media (max-width: 2560px) {
    #website {
        width: 1920px;
    }
}


@media (max-width: 1920px) {
    #website {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    #website {
        width: 768px;
    }
}

@media (max-width: 768px) {
    #website {
        width: 100%;
    }
}

a {
    color: BLACK;
}



.main-content {
    margin: 10px 25% 10px auto;
    height: auto;
    border-style: solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-color: #ABD1C7;
    background-color: #F3F7F6;
}

a {
    color: black;
    text-decoration: none;
 }

.comment-list .comment {
    display: none;
    border-color: #ABD1C7;
}

#footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #E6E6E6;
    background: #254D42 ;
}

.footertable a{
    color: #FFFFFF;
}

.footertable{
    display: flex;
    flex-direction: column;
}

#noEntries {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




