.container-index {
    padding-left: 10px;
    margin: 10px;
    width: 45%;
    height: auto;
    border: 3px solid #ABD1C7;
    background-color: #F3F7F6;
}
 .index-title{
     display: flex;
     justify-content: center;
 }

 .recipe-preview-container{
     display: flex;
     justify-content: center;
 }


