h1 {

    color: #4D2A31;
}


.main {
    width: 100%;
    margin: 10px auto 10px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding-left: 10px;
    margin: auto;
    width: 45%;
    height: auto;
    border: 3px solid #4D2A31;
}

.recipe-preview {

    width: auto;
    height: auto;
    border: 3px solid #4D2A31;
    margin: 10px;
    padding: 5px;
}

.recipe-preview-image-container {
    width: 250px;
    height: auto;
    overflow: hidden;
}


.recipe-preview img {
    width: 100%;
    height: 100%;
}


.recipe-preview-description{
    padding: 0;
    margin: 0;
    top: 0;

}

h4{
    padding: 0;
    margin: 0;
}

h5{
    padding: 0;
    margin: 0;
}