.recipe-preview {

    width: 75%;
    height: auto;
    border: solid;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.recipe-preview-image-container {
    width: 250px;
    height: auto;
    overflow: hidden;
    margin: 10px;
}


.recipe-preview img {
    width: 100%;
    height: 100%;
}


.recipe-preview-description{
    width: 100%;
    padding: 0;
    margin: 10px;
    top: 0;
    display: flex;
    flex-direction: column;

}

.recipe-name-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-container .recipe-preview-container {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.recipe-container .recipe-preview{
    width: 96%;
}

.recipies {
    width: 100%;
    display: flex;
    justify-content: center;
}