.blog-preview{
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-color: #ABD1C7;
}

.blog-preview:hover{
    border-color: #4D2F25;
    transform: scale(1.02);
}

.blog-preview-head{
    margin: 0px 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}

.blog-preview-title{
    text-decoration: underline;

}

.blog-preview-timestamp{
    font-style: italic;

}

.blog-preview-body{
    margin: 0px 5px;

}

p {
    word-break: break-word;
}