

#top-buttons{
    margin: 10px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

#main-content{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profil_rezept-title{
    display: flex;
    justify-content: center;
}

.sortierung{
    margin: 5px;
    display: flex;
    justify-content: center;
}

#bottom-buttons{
    margin: 10px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}