#profil_bild{
    width: 100%;
}

.profil-preview{

    margin: 10px;
    border-style: solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;

}

.profil-preview-body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.users .profil-preview{
    display: none;
    background-color: #FFFFFF;
    border-width: 2px;
    border-color: #ABD1C7;
}

.profil-preview:hover{
    border-color: #4D2F25;
}


.profil-preview-pic {
    margin: 0px 5px;
    width: 50%;
}

.profil-preview-info {
    margin: 0px 5px;
    width: 50%;
}

#head-title{
    display: flex;
    justify-content: center;
}


#top-buttons{
    margin: 10px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
}

#filter{
    height: 26px;
    font-size: 15px;
    cursor: pointer;
}
#bottom-buttons{
    margin: 10px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

