.recipe-container .recipe-preview-container {
    display: none;
}


.recipe-preview{
    margin: 10px;
    border-style: solid;
    border-width: 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    width: 96%;
    border-width: 2px;
    background-color: #FFFFFF;
    border-color: #ABD1C7;
}

.recipe-preview img {
    width: 100%;
    height: 100%;
}

.recipe-preview:hover{
    border-color: #4D2F25;
}

.recipe-preview:hover .kategorien div{
    background-color: #4D2F25;
}

.recipe-preview-pic {
    width: auto;
    max-width: 40%;
}

.recipe-preview-info {
    margin: 0 5px;
    width: 60%;
}

.titleTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kategorien {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.kategorien div {
    background-color: #99695A;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
}

form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

p.sternebewertung {
    float: Left;
    margin: 0;
}

p.sternebewertung:not(:checked) > input {
    display: None;
}

p.sternebewertung:not(:checked) > label {
    float: Right;
    width: 1em;
    padding: 0 .1em;
    overflow: Hidden;
    white-space: Nowrap;
    cursor: Pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #D0D0D0;
    text-shadow: 0.5px 0.5px #B0B0B0, 1px 1px #606060, .1em .1em .2em rgba(0,0,0,.2);
    transition: all .5s;
}

p.sternebewertung:not(:checked) > label::before {
    content: '★ ';
}

p.sternebewertung > input:checked ~ label {

    color: #FFD700;
    text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5);
}

